<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address ="http://localhost:8090/Twainsoft/ImageProcessing/TransferMessage"
                bindingConfiguration="Binding1" binding ="wsHttpBinding"
                contract ="Twainsoft.ImageProcessing.EBC.Contracts.Vocabulary.WCF.ITransferMessage" />
    </client>
    
    <!-- Binding configuration -->
    
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <!-- Logging -->
    
    <diagnostics>
      <messageLogging maxMessagesToLog="30000"
              logEntireMessage="true"
              logMessagesAtServiceLevel="true"
              logMalformedMessages="true"
              logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>
  
  <!-- Listeners -->
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="WCFTrace.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>